<div class="error-container">
  <div class="error-number">
    <span>4</span>
    <i class="far fa-question-circle fa-spin"></i>
    <span>4</span>
  </div>

  <div class="error-description">
    <p>The page you are looking for doesn't exist.</p>
    <!--
    <p>
      Maybe this page got moved or deleted? Maybe is hiding out in quarantine?
      Or maybe it never existed in the first place...
    </p>
    -->
    <p>Let's go <a routerLink="/">home</a> and try again from there.</p>
  </div>
  <div class="button-wrapper">
    <a class="home-button" mat-raised-button color="accent" routerLink="/"
      >Home</a
    >
  </div>
</div>
