<h1>Enhance your Traktor library!</h1>

<section>
  <h2>Why was this app created on the first place?</h2>
  <p>
    OLMA is a web application built with Angular, Google's front-end framework.
  </p>
  <p>
    It's purpose is to enhance the Traktor library management experience about
    which many have complained on its official forums.
  </p>
  <p>
    Despite it's improvments over the last year, the current state for managing
    your library is not optimial, yet. This app pretends to solve some flaws
    that many user's have been criticising about the software on its forums.
  </p>
</section>

<section>
  <h2>What does OLMA currently offer?</h2>
  <ul>
    <li>
      Provides a way to manage your Traktor library from anywhere, thanks to its
      connections to Cloud storage services.
    </li>
    <li>
      Allows Traktor users to create smartlists which have more than 8 rules.
    </li>
    <li>
      Connects to Spotify to create smartlists with enhanced metadata obtained
      by Spotify through Machine Learning algorithms.
    </li>
  </ul>
</section>

<section>
  <h2>Connect as a guest</h2>
  <p>
    If you don't want to register to the app, please connect to the services you
    want to use before starting to use the app.
  </p>
  <div class="api-services">
    <button mat-raised-button (click)="spotify()">
      <i class="fab fa-spotify fa-lg"></i
      ><span class="button-description">Spotify</span>
    </button>
    <button mat-raised-button (click)="dropbox()">
      <i class="fab fa-dropbox fa-lg"></i
      ><span class="button-description">Dropbox</span>
    </button>
  </div>
</section>
