@import 'src/assets/styles/itcss/1-settings';

:host {
  padding: 16px;

  @media screen and (min-width: $phoneWidth) {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.api-services {
  display: flex;
  justify-content: center;

  button {
    margin: 10px;
  }
}

p,
li {
  opacity: 75%;
}

li:not(:last-child) {
  margin-bottom: 0.5rem;
}
