<div class="skeleton-container">
  <div class="skeleton-overlay" *ngIf="spinner">
    <mat-spinner color="accent"></mat-spinner>
  </div>
  <form class="skeleton-content" [formGroup]="userForm" (ngSubmit)="save()">
    <p>
      Please, introduce your current password, and set the new password for your
      account.
    </p>
    <mat-form-field color="accent" appearance="fill">
      <mat-label>Current Password</mat-label>
      <input matInput type="password" [formControl]="password" required />
      <button
        type="button"
        tabindex="-1"
        *ngIf="password.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="password.reset()"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-error
        *ngIf="password.hasError('minlength') && !password.hasError('required')"
      >
        Password must have at least 8 characters
      </mat-error>
      <mat-error
        *ngIf="password.hasError('maxlength') && !password.hasError('required')"
      >
        Password can't have more than 64 characters
      </mat-error>
      <mat-error *ngIf="password.hasError('required')">
        Current password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field color="accent" appearance="fill">
      <mat-label>New Password</mat-label>
      <input matInput type="password" [formControl]="new_password" required />
      <button
        type="button"
        tabindex="-1"
        *ngIf="new_password.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="new_password.reset()"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-error
        *ngIf="
          new_password.hasError('minlength') &&
          !new_password.hasError('required')
        "
      >
        Password must have at least 8 characters
      </mat-error>
      <mat-error
        *ngIf="
          new_password.hasError('maxlength') &&
          !new_password.hasError('required')
        "
      >
        Password can't have more than 64 characters
      </mat-error>
      <mat-error
        *ngIf="
          new_password.hasError('pattern') && !new_password.hasError('required')
        "
      >
        Password must contain, at least, one uppercase letter (A-Z), one
        lowercase letter (a-z), one number (0-9) and one special character
      </mat-error>
      <mat-error *ngIf="new_password.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field color="accent" appearance="fill">
      <mat-label>Password confirmation</mat-label>
      <input
        matInput
        type="password"
        [formControl]="new_confirmation"
        required
      />
      <button
        type="button"
        tabindex="-1"
        *ngIf="new_confirmation.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="new_confirmation.reset()"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-error
        *ngIf="
          new_confirmation.hasError('matching') &&
          !new_confirmation.hasError('required')
        "
      >
        Passwords don't match
      </mat-error>
      <mat-error *ngIf="new_confirmation.hasError('required')">
        Confirm your new password
      </mat-error>
    </mat-form-field>

    <div class="button-row">
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="cancel()"
      >
        Cancel
      </button>
      <button
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="userForm.invalid"
      >
        Save
      </button>
    </div>
  </form>
</div>
