@import "@angular/material/theming"; //Necessary to create custom palettes!

/* Dark theme */
$primary-dark-palette: (
  50: #e5e6e7,
  100: #bec2c3,
  200: #93999c,
  300: #677074,
  400: #475156,
  500: #263238,
  600: #222d32,
  700: #1c262b,
  800: #171f24,
  900: #0d1317,
  A100: #5bb9ff,
  A200: #28a3ff,
  A400: #008bf4,
  A700: #007dda,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$accent-dark-palette: (
  50: #eaf8fe,
  100: #caedfd,
  200: #a7e1fb,
  300: #84d5f9,
  400: #69ccf8,
  500: #4fc3f7,
  600: #48bdf6,
  700: #3fb5f5,
  800: #36aef3,
  900: #26a1f1,
  A100: #ffffff,
  A200: #f9fdff,
  A400: #c6e7ff,
  A700: #addcff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
